/*
**** styling for the header
**** by: Patrick Funom
*/

/*
=======================================
================DEFAULT================
=======================================
*/
/* LOGO IMAGE CONTAINER */
.oi_logo_inner_holder img{
  width: 100%;
}


/*
======================================
================MOBILE================
======================================
*/
@media (max-width: 767px) and (min-width: 0px) {
  /* HEADER LOGO INLINED */
  .logo_svg svg{
    overflow: hidden;
    float: left;
    height: 3em;
    width: 30%;
  }
  /* MAIN LOGO CONTAINER */
  .oi_logo{
    height: 60px;
  }

  /* LOGO CONTAINER SIZE */
  .oi_logo_inner_holder{
    margin: 0;
    padding: 2%;
    width: 100%;
  }

  .oi_logo_inner_holder img{
    width: 10%;
    float: left;
    clear: both;
  }

  .oi_main_menu_opener{
    float: right;
    color: #ffffff;
    margin-top: -25px;
  }
}
/* HAMBURGER MENU */
.oi_logo .fa-navicon:before, .oi_logo .fa-reorder:before, .oi_logo .fa-bars:before{
  color: #ffffff;
}
/* SEARCH BAR */
.oi_after_logo_search{
  display: none !important;
}

span .fa .fa-search-plus .hidden-xs{
  display: none !important;
}
/*
======================================
================TABLET================
======================================
*/
@media (max-width: 899px) and (min-width: 768px) {

  /* LOGO CONTAINER SIZE */
  .oi_logo .oi_logo_inner_holder{
    width: 100% !important;
    padding: 0;
    background: red !important;
  }

}

/*
=======================================
================DESKTOP================
=======================================
*/
@media only screen and (min-width: 900px) {
  /* LOGO CONTAINER SIZE */
  .oi_logo_inner_holder{
    margin: 0;
    padding: 0;
    width:300px;
  }
}
