/*
  styling by Patrick Funom
*/

/*DESKTOP*/
@media only screen and (min-width: 900px) {
  .oi_posts_holder, .oi_logo_place{
    width: 70%;
  }

  /*logo container*/
  .oi_logo_inner_holder img{
    width: 30%;
  }

  .oi_logo_inner_holder {
    margin-left: 20px;
    padding-top: 20px;
  }

  /*HEADER RESTYLING*/
  .oi_rigth_menu_place, .oi_head_holder, .oi_logo_inner_holder{
    height: 170px;
  }

  /*individual latest posts*/
  .oi_post{
    margin: 5px;
    box-shadow: 0px 1px 3px #b8b8b8;
  }

  .oi_post_tringle{
    left: inherit;
    right: -1px;
    transform: rotate(180deg);
  }

  /*side bar sticky*/
  .admin-bar .oi_big_sidebar_bottom.oi_need_absolute_index{
    box-shadow: 0px 1px 3px #b8b8b8;
    margin: 5px;
  }

  .oi_popular_widget_post_holder{
    padding: 5px;
  }
}

/*MOBILE*/
@media (max-width: 767px) and (min-width: 0px) {
  /*sticky nav*/
  .oi_head_holder{
    position: fixed;
    top: 0;
  }
  .oi_logo_inner_holder img{
    width: 40%;
    float: left;
  }

  .oi_main_menu_opener{
    float: right;
    color: #ffffff;
    margin-top: -25px;
  }

  .oi_single_post{
    padding-top: 20%;
  }

  .oi_logo_place{
    height: 100px !important;
  }
  .oi_post_tringle{
    display: none;
  }

  /*individual latest posts*/
  .oi_post{
    margin: 5px;
    box-shadow: 0px 1px 3px #b8b8b8;
  }
}

/*@media only screen and (min-width: 900px) {
	.wrapfixed {
		position: static !important;
	}


  .oi_single_post_conent iframe {
  	max-height: 100% !important;
  }

	.single-format-image .oi_single_post_title img {
		float: left;
	}

	.hidden-lg oi_small_dev_singlepost_meta {
		width: 10%;
	}

	.single-format-image .oi_single_post_conent p iframe {
	}

	p .jp-relatedposts-post-context {
		display: none;
	}

	.instagram-media {
		height: 800px !important;
	}
}

#jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-context, #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-date p {
	display: none;
}

@media (max-width: 767px) and (min-width: 0px) {
	#jp-relatedposts {
		padding-left: 30px;
	}
}

.wp-caption {
	border: 1px solid #ddd;
	text-align: center;
	background-color: #28292e;
	color: #ffffff;
	margin: 10px;
	font-style: italic;
	font-size: 13px;
}

.page-id-11124 iframe {
}*/
