/*
  styling for each posts type
  by: Patrick Funom
*/
/*MOBILE*/
@media (max-width: 767px) and (min-width: 0px) {

  .oi_single_post{
    padding-top: 0%;
  }

  .oi_post_tringle{
    display: none;
  }

  /*individual latest posts*/
  .oi_post{
    margin: 20px;
    box-shadow: 0px 1px 3px #b8b8b8;
  }

  .oi_posts_holder {
      position: relative;
      top: 0;
  }

  /*post page*/
  .new_single_post_content, .oi_single_post_content{
  padding-left: 20px;
    padding-right: 20px;
    font-size: 1.6rem;
    line-height: 1.9;
    font-family: Walfork,Walsheim,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background: #ffffff;
  }



  /*iframe audio player*/
  .oi_single_post_content iframe{
    width: 100%;
  }

  .single .single-post .single-format-video iframe{
    width: 100% !important;
    height: 100% !important;
  }
}

/*GENERAL STYLE*/
/*hide post views in meta data*/
.colored, .oi_popular_widget_views{
  display: none;
}

#wrap.embed div.player-right a.via-audiomack{
  display: none;
}

/*post page boder style*/
.oi_big_sidebar_bottom .visible-lg, .oi_single_post_meta{
  box-shadow: 0px 1px 3px #b8b8b8;
}
