/*
*** styling for each posts type
*** by: Patrick Funom
*/

/*
=======================================
================DEFAULT================
=======================================
*/
/*======POST VIEWS META======*/
.colored, .oi_popular_widget_views{
  display: none;
}


/*======POST FEED BORDER======*/
.oi_post{
  margin: 0px 5px 0px 5px;
  box-shadow: 0px 1px 3px #b8b8b8;
}
/*======POST FORMAT META BOX======*/
.oi_big_sidebar_bottom .visible-lg, .oi_single_post_meta{
  box-shadow: 0px 1px 3px #b8b8b8;
}
/*
======================================
================MOBILE================
======================================
*/
@media (max-width: 767px) and (min-width: 0px) {

  /*======POST FEED======*/
  .oi_single_post{
    padding-top: 0%;
  }

  .oi_post_tringle{
    display: none;
  }

  /*======INDIVIDUAL POSTS======*/
  .oi_post{
    margin: 20px;
    box-shadow: 0px 1px 3px #b8b8b8;
  }

  .oi_posts_holder {
      position: relative;
      top: 0;
  }


  /*======SINGLE POST FORMAT======*/
  .new_single_post_content, .oi_single_post_content{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.6rem;
    line-height: 1.9;
    background: #ffffff;
  }

  /*======SINGLE POST IFRAMES======*/
  .oi_single_post_content iframe{
    width: 100%;
  }

  /*======VIDEO POST IFRAMES======*/
  .single-format-video .oi_single_post_title iframe {
    width: 100%;
    height: auto;
  }

  .single .single-post .single-format-video iframe{
    width: 100% !important;
    height: 100% !important;
  }

  /*======POSTS FORMAT TITLE======*/
  .oi_single_post_title h1 {
    line-height: 1.3;
    padding-left: 15px;
  }

/*
=======================================
================DESKTOP================
=======================================
*/
@media only screen and (min-width: 900px) {

  /*======WEBSITE SECTION SIZE======*/
  .oi_posts_holder, .oi_logo_place{
    width: 70%;
  }

  /*======POST FEED TRIANGLES======*/
  .oi_post_tringle{
    left: inherit;
    right: -1px;
    transform: rotate(180deg);
  }



  /*======AUDIO & VIDEO POST FORMAT======*/
  .oi_single_post_audio, .single-format-video .oi_single_post_title {
    width: 85% !important;
    float: right !important;
    background: #ffffff;
  }

  .single-format-video .oi_single_post_title iframe {
		width: 60%;
    height: 300px;
    margin: 0 0 5% 0;
  }

  /*======VIDEO FORMAT TITLE======*/
  .single-format-video .oi_single_post_title h1 {
    margin-bottom: 10%;
    width: 85%;
    font-size: 40px;
  }

  /*======META SECTION SINGLES FORMAT======*/
  .oi_single_post_meta{
    width: 10% !important;
  }

  /*======POST CONTENT AREA======*/
  .new_single_post_content, .oi_single_post_content{
    padding: 0 2% 0 2%;
    font-size: 1.5rem;
    line-height: 1.7;
  }

  .oi_single_post_standard{
    margin-left: 0 !important;
  }

  /*======SINGLE POST IMAGE CONTAINER======*/
  .oi_single_post_audio .img-container{
    width: 500px;
    margin: 5% auto;
  }

  .oi_single_post .oi_single_post_audio .img-responsive{
   width: 100% !important;
   box-shadow: 0px 0px 15px #000000;
 }

  /*======EVENT POSTS======*/
  .single-format-standard .visible-lg{
    display: none !important;
  }

  .single-format-standard .oi_single_post{
    width: 100% !important;
  }

  .single-format-standard .oi_single_post .oi_single_post_title{
    padding: 10px 250px 10px 250px;
  }
}


/*
======================================
================TABLET================
======================================
*/
@media (max-width: 899px) and (min-width: 768px) {

}
