/*
**** styling for the sidebar
**** by: Patrick Funom
*/

/*
======================================
================DEFAULT===============
======================================
*/

/*======SIDEBAR======*/
.io_widget_title_single {
  box-shadow: 0 1px 3px #b8b8b8;
}

/*======POPULAR POSTS SIDEBAR======*/
.oi_popular_widget_post_holder {
  padding: 5px 0 0 0;
}

/*
======================================
================MOBILE================
======================================
*/
@media (max-width: 767px) and (min-width: 0px) {
  /*mobile sidebar visibility. sidebar sticky must be off*/
  .oi_small_sidebar_bottom, .oi_big_sidebar_bottom{
    display: block !important;
    width: 100% !important;
    padding-top: 5% !important;
    padding-bottom: 5% !important;
    box-shadow: -1px 0px 5px #b8b8b8;
  }
}

/*
======================================
================TABLET================
======================================
*/
@media (max-width: 899px) and (min-width: 768px) {

}

/*
======================================
================DESKTOP===============
======================================
*/
@media only screen and (min-width: 900px) {
  /*======SIDEBAR======*/
  .oi_big_sidebar_bottom {
     width: 29% !important;
  }
}
