
  .saboxplugin-wrap {
    text-align: center;
    border: none !important;
  }

  .saboxplugin-wrap .saboxplugin-gravatar {
    float: left !important;
    padding: 0 !important;
    margin: 0 !important;
    width: 9% !important;
    display:block;
  }

  .saboxplugin-wrap .saboxplugin-gravatar img {
    float:none;
    height: 100% !important;
    width: 100% !important;
    display:inline-block;
    display:-moz-inline-stack;
    vertical-align:middle;
    *vertical-align:auto;
    zoom:1;
    *display:inline;
  }

  .saboxplugin-wrap .saboxplugin-desc {
    float: left !important;
    margin: 0 10px 20px;
    text-align: center;
    clear: left !important;
  }

  .saboxplugin-wrap .saboxplugin-authorname {
    float: left !important;
    text-align: center;
    margin:10px 0 20px;
    padding-left: 10px !important;
  }

  .saboxplugin-wrap .saboxplugin-authorname:before {
    content: "writen by ";
  }

 .saboxplugin-wrap .saboxplugin-socials {
   background: transparent !important;
   position: none !important;

  }
  .saboxplugin-wrap .saboxplugin-socials .saboxplugin-icon-color,
  .saboxplugin-wrap .saboxplugin-socials .saboxplugin-icon-grey {
    margin: 15px 5px;
  }

  .saboxplugin-wrap .saboxplugin-socials .saboxplugin-icon-color:before{
  }

  /*  - GLOBAL MEDIA QUERIES
  -------------------------------------------------------------- */
  @media screen and (max-width: 480px) {

    .saboxplugin-wrap .saboxplugin-gravatar {
      float: left !important;
      padding: 0 !important;
      margin: 0 !important;
      width: 20% !important;
      display:block;
    }
  }
